<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Sayapatri Higher Secondary School</title>


<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link th:href="@{/css/style.css}"  type="text/css" rel="stylesheet" />
<link th:href="@{/css/principal.css}"  type="text/css" rel="stylesheet" />
</head>
<body>
<div th:replace="header::navbar"/>
<div th:replace="header::logo"/>
<div class="container-fluid" id="x1">

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-9" id="x13">
            <h1>Principal's Desk</h1>

        </div>
        <div class="col-md-2">

        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-2">

        </div>
        <div class="col-md-8 col-sm-8" id="x12">
            <img src="../images/suraj21.png" alt="ankita" class="img-responsive center-block" style="height:350px;">
            <p>&nbsp;</p>
            <p style="color:black;">Every individual is unique and the process of education is designed to unfold and bring out this uniqueness
                and provide him with an enabling environment which would facilitate him to lead his life
                as a satisfying experience for himself and useful to the society. Education should sharpen his god
                given intellect, invest him with emotional maturity, give him an understanding of his connection with
                and to humanize him. Education must strengthen the body, mind and character. Sometimes the interpretation
                of education is reduced to achieving material end or serve a cosmetic purpose only. At best it is identified
                as information and knowledge of facts and concepts measured in examinations. To serve the cause of education and educate young
                and impressionable minds, the educator has to fire the desire to learn and ignite the spark
                within the mind of the student. Only then can we expect him to learn through observation, inquiry, exploration
                and experience. Every student has the propensity to internalize what he learns in varying degrees, to form attitudes
                to guide the course of his life and actions. Education helps him to use his senses to enrich his self and in course the
                human society at large. I would like to remind the students the purpose of their being at Modern Indian School. We strive
                here to give them a broad based education until secondary level. However in the senior level diversification is introduced
                and different streams are offered to cater for varying abilities and aptitudes of each student. Secondary schooling only opens
                the far stretched vista of the world ahead. The senior level equips the students to understand and choose their path as necessitated
                by the socio-economic environment, developing the competencies required for their professional choice and also to awaken their social
                sense which will sensitize them to the world around. As the head of this fine institution it is of great satisfaction to prepare the students
                of Modern Indian School to walk out of its portals, symbolizing excellence and standing upright with a sense of pride and dignity. They blend
                into the multitude with the realization that education is for life and not merely for a living. Needless to add that education is not separated
                from our concern for humanity for it is the latter which has to govern the former. After all education imparted in the school is only a means to
                evolve the kind of society in which we wish to live. It is with this ulterior conviction that we impart wholesome education in the school and prepare
                our students for the future.</p>

            <p>
                &nbsp;
            </p>
            <p style="color:black;">
                <strong>
                    Warm Regards,
                </strong>
            </p>
            <p style="color:black;">
                <strong>
                    Bhola Chaudhary
                </strong>
            </p>
        </div>
        <div class="col-md-2 col-sm-2">

        </div>
    </div>
</div>


<div th:replace="header::footer"/>

</body>
</html>
</html>
